# Python virtual environments
venv/
.env/
ENV/
env/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs and test output
*.log
*.out

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Other
*.sqlite3
.vercel
